@model DashReportingTool.Models.TechExpertMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manage/Views/HomeManage/Index.cshtml";
}


<div>
    <h4>TechExpertMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TechExpertIsEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechExpertIsEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertMaster.ExpertName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertMaster.ExpertName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechMaster.TechName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechMaster.TechName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TechExpertId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
