@model IEnumerable<DashReportingTool.Models.SessionMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionTopic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresentCandidates)
        </th>
        <th>
            Absent Candidates
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchMaster.BatchName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionTopic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionDate)
            </td>
            <td>
                @{

                    var lst = item.PresentCandidates.Split(',');
                    for (int i = 0; i < lst.Length; i++)
                    {

                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchMaster.BatchName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SessionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SessionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SessionId })
            </td>
        </tr>
    }

</table>
