@model IEnumerable<DashReportingTool.Models.TaskTitleMaster>

@{
    ViewBag.Title = "List Task Titles";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";

}


<p class="float-right">
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
@if (ViewBag.info != null)
    {
<div class="alert alert-warning">You have 1 task pending to close. Please Complete that task first before you create the new task!</div>
    }
<table class="table dttable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskTitleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TaskTitleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskTitleId })
            </td>
        </tr>
    }

</table>
