@model DashReportingTool.Models.CandidateBatchMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Manage/Views/HomeManage/Index.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CandidateBatchMaster</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RefCandidateCourseId, "RefCandidateCourseId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RefCandidateCourseId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RefCandidateCourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefBatchTitle, "RefBatchTitle", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RefBatchTitle", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RefBatchTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>

    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    //alert(vars["id"]);
    if (vars["id"] != undefined) {
        $("#RefCandidateTitle").val(vars["id"]);
    }
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
