@model DashReportingTool.Models.BatchMaster

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Manage/Views/HomeManage/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BatchMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusMaster.StatusTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusMaster.StatusTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertMaster.ExpertName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertMaster.ExpertName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BatchId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
