@model IEnumerable<DashReportingTool.Models.LocationMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table dttable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
                </td>
            </tr>
        }
    </tbody>

</table>
