@model IEnumerable<DashReportingTool.Models.TechMaster>

@{
    ViewBag.Title = "Technologies";
    Layout = "~/Areas/Manage/Views/HomeManage/Index.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table dttable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TechName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TechName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TechId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TechId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TechId })
                </td>
            </tr>
        }
    </tbody>
</table>
