@model Dictionary<string, List<DashReportingTool.Models.TaskMaster>>
@using DashReportingTool.Models
@{
    ViewBag.Title = "Running Task";
    Layout = "~/Views/Shared/_defaultLayout.cshtml";
    int di = 0;
}



<table class="table dttable table-responsive-lg">
    <thead>
        <tr>
            <th>
                Expert Name
            </th>
            <th>
                Running
            </th>
            <th>
                Pending or Hold
            </th>
            <th>
                Hrs Spend (@DateTime.Now.ToShortDateString())
            </th>
            @*<th>

                </th>*@
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var running = Model[item.Key].Where(a => a.RefStatusTitle == 2);
            var hold = Model[item.Key].Where(a => a.RefStatusTitle == 3);
            var userid = Model[item.Key][0].RefExpertName;
            <tr>
                <td>
                    @item.Key
                </td>
                <td>
                    <button class="btn btn-primary" onclick="showList(2,@userid, 'Running')">
                        @running.ToList().Count
                        <i class="fa fa-list"></i>
                    </button>

                </td>
                <td>
                    <button class="btn btn-primary" onclick="showList(3,@userid, 'Hold')"> @hold.ToList().Count  <i class="fa fa-list"></i></button>

                </td>
                <td>
                    @{

                        var todays = Model[item.Key].Where(a=> a.TaskDone);
                        var min = 0;
                        @*<span>@todays.ToList().Count</span>*@
                        foreach (var itemMin in todays.ToList())
                        {                            
                            min += (int) itemMin.TimeTaken;
                        }

                        int hours = (min - min % 60) / 60;

                        string hrs  = hours.ToString() + ":" + (min - hours * 60).ToString();

                     }
                    @hrs
                </td>
                @*<td>
                    </td>*@
            </tr>
        }
    </tbody>
</table>


<!-- The Modal -->
<div class="modal" id="showList">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="idtitle">Running Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table dttable table-responsive-sm">
                    <thead>
                        <tr>
                            <th>
                                Assigne By
                            </th>
                            <th>
                                Start Date/End Date
                            </th>
                            @*<th>
                                Estimate/Taken Time
                            </th>
                            <th>
                                Start Time/ End Time
                            </th>*@
                            <th>Details</th>
                            @*<th>
                                    Task Details
                                </th>*@
                        </tr>
                    </thead>
                    <tbody id="lst">
                        <tr>
                            <td colspan="5" style="text-align:center">
                                <img src="/Content/assets/images/YCZH.gif" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    function showList(id, userid, str) {
                    $("#showList").modal();

        $("#idtitle").html(str);
        $.getJSON("@Url.Action("getTaskList","jsonApi",new { @area = "Manage"})", { id: id, uid:userid }, function (data) {

            var htmlB = "";
            $.each(data, function (ind, val) {

                htmlB += `
                    <tr>
                        <td>${val.TaskBy}</td>
                        <td>${val.TaskDate} <br> ${val.DeadLine}</td>
                        <td style="width:40%">
                        <div class='float-left'> Estimate (${val.EstimateTime})/ Taken (${val.TimeTaken})</div>
                        <div class='float-right'>${val.TaskStartTime}/${val.TaskEndTime}</div>
                                
                            <hr>
                                <b>${val.TaskTitle}</b><br>${val.TaskDetails}
                            <hr>
                        </td>
                    </tr>
                `;


            });

            $("#lst").html(htmlB);
        });

    }
</script>